@charset "utf-8";

/*---------------------------*/


/* 引用思源中文              */


/*---------------------------*/

@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

/*---------------------------*/


/* 定義網頁                  */


/*---------------------------*/

html,
body {
    font-family: Microsoft JhengHei;
    font-size: 1vw;
    margin: 0 auto;
    height: 100vh;
}


/*---------------------------*/


/* 定義標題                  */


/*---------------------------*/

div.header {
    height: 130px;
    position: relative;
    z-index: 5;
}


/*---------------------------*/


/* 定義LOGO                  */


/*---------------------------*/

.logoimg {
    margin-left: 10px;
    margin-right: 5px;
    width: 60px;
    height: 60px;
    float: left;
}

.logoimg:hover {
    /* border-radius: 25px; */
    opacity: 0.8;
}

@media (max-width: 992px) {
    .logoimg {
        margin-left: -30px;
        width: 50px;
        height: 50px;
    }
}


/*---------------------------*/


/* 定義導覽列                */


/*---------------------------*/

nav {
    background: rgb(207, 200, 200);
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.7);
}

.navbar-brand h2 {
    margin-top: 20px;
    color: rgb(226, 0, 75);
    font-weight: bold;
    font-size: 30px;
}

@media (max-width: 992px) {
    .navbar-brand h2 {
        margin-top: 25px;
        font-size: 20px;
    }
}

.navbar-brand {
    margin: 0 auto;
    position: relative;
    right: 4%;
}

.navbar-brand h2:hover {
    filter: brightness(150%);
}

.navbar-nav {
    position: relative;
    left: 31%;
}

@media (max-width: 992px) {
    .navbar-nav {
        position: relative;
        left: 0;
    }
}

.nav-item:not(:last-child) {
    position: relative;
    margin-right: 1.5vw;
}

.nav-link {
    color: black !important;
    font-weight: bolder;
    font-size: 22px;
}

.nav-item:hover {
    opacity: 0.6;
}


/*---------------------------*/


/*---------------------------*/


/*---------------------------*/


/* 定義登入                  */


/*---------------------------*/

#Login {
    font-size: 15px;
    font-weight: bold;
    position: fixed;
    top: 10%;
    right: -150px;
    background: #fac9c9;
    padding: 2vw 2vw;
    border-radius: 10px;
}


/* ****************<---需要以後修改 暫用--> */

@media (min-width: 1500px) {
    #Login {
        right: -10.5%;
    }
}


/* <-----> */

@media (max-width: 992px) {
    #Login {
        right: -145px;
    }
}

@media (max-width: 768px) {
    #Login {
        right: -140px;
    }
}

#Login:hover {
    right: -10px;
}

#Login #title {
    padding-right: 5px;
    /*讓標題與連結中間有空隙*/
}


/*---------------------------*/


/* 定義Boostrap              */


/*---------------------------*/


/* define bootstrap 5 columns */

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-1-5 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}