@charset "utf-8";

/*---------------------------*/


/* 引用思源中文              */


/*---------------------------*/

@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

/*---------------------------*/


/* 定義網頁                  */


/*---------------------------*/

html,
body {
    font-family: Microsoft JhengHei;
    font-size: 15px;
    margin: 0 auto;
    height: 100vh;
}


/*---------------------------*/


/* 定義標題                  */


/*---------------------------*/

div.header {
    height: 130px;
    position: relative;
    z-index: 5;
}


/*---------------------------*/


/* 定義搜尋框                 */


/*---------------------------*/


/* div.apc {
    color:#fff;
    z-index:10;
    margin-top:15px;
    margin-left:100px;
    margin-right:250px;
    width:280px;
    height:50px;
    text-align: center;
    float: left;
}

input {
    padding:5px 15px;  border:0 ;
    border-radius:6px; 
    width:100%;
    height: 35px;
    font-size: 17px;
    background: #fff;
}
input.hover{
    width:280px;
}
div.ssss{
    position: relative;
    height: 50px;
    width: 50px;
    left:280px;
    bottom:50px;
}

div.ssss img{
    width:40%;
    height:40%;
} */


/*---------------------------*/


/* 定義LOGO                  */


/*---------------------------*/

.logoimg {
    margin-left: 10px;
    margin-right: 5px;
    width: 60px;
    height: 60px;
    float: left;
}

.logoimg:hover {
    /* border-radius: 25px; */
    opacity: 0.8;
}


/*---------------------------*/


/* 定義導覽列                */


/*---------------------------*/

nav {
    background: rgb(207, 200, 200);
    box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.7);
}

.navbar-brand h2 {
    margin-top: 20px;
    color: rgb(226, 0, 75);
    font-weight: bold;
}

.navbar-brand h2:hover {
    filter: brightness(150%);
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    color: black !important;
    font-weight: bolder;
    font-size: 22px;
}

.nav-item a:hover {
    opacity: 0.6;
}


/* div.navbar {
    position: fixed;
    width: 100%;
    background: rgb(207, 200, 200);
    box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.7);
    height: 90px;
}

div.navbar img {
    float: left;
    margin-top: 19px;
}

.li {
    position: relative;
    line-height: 14VH;
    left: 54VW;
    float: left;
    width: 7vW;
    text-align: center;
}

.li:hover {
    font-size: 25px;
    color: rgb(199, 198, 198);
    font-weight: bold;
}

.li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 22px;
} */


/*---------------------------*/


/* 定義容器                  */


/*---------------------------*/

div.container {
    box-sizing: border-box;
    margin: 0px auto;
    z-index: 10;
    overflow: hidden;
    width: 1030px;
}


/*---------------------------*/


/* 定義內容                  */


/*---------------------------*/

div.news {
    margin-top: 3vh;
    margin-left: 25px;
    width: 220px;
    box-sizing: border-box;
    text-align: justify;
    float: left;
    z-index: 11;
}


/* div.news:not(:last-child) {
    margin-right: 25px;
} */

div.newpic img {
    height: 100%;
    width: 100%;
}

.news:hover {
    filter: sepia(70%);
}

div.newh2 {
    position: absolute;
    margin-top: -90px;
    width: 220px;
    background: rgb(0, 0, 0, 0.8);
    z-index: 15;
    text-align: center;
    font-size: 15px;
    height: 65px;
}

div.newh2 a {
    text-decoration: none;
    color: #fff;
}

.newh2 h2 {
    margin-top: 17px;
    font-size: 22px;
    font-weight: 700;
}

div.newh2:hover {
    background: rgba(58, 58, 58, 0.8);
}


/*---------------------------*/


/* 定義表尾                  */


/*---------------------------*/