/*---------------------------*/


/* 定義大圖                  */


/*---------------------------*/


/*---------------------------*/


/* 定義內容                  */


/*---------------------------*/

.newScene {
    text-align: center;
    margin-top: 3vh;
    border: 1px solid rgb(121, 15, 21);
}

.newScene:hover {
    opacity: 0.7;
}

.newScene img {
    width: 100%;
}

.newScene h2 {
    font-size: 20px;
    margin-bottom: 2vh;
    margin-top: 3vh;
    color: rgb(194, 30, 38);
    font-weight: bold;
}

.newScene a {
    text-decoration: none;
}